<div class="container">
  <h1>Movie Finder</h1>

  <form>
    <div class="form-group">
      <input type="text" name="movie-name" class="form-control" #moviename placeholder="Enter a movie name">
    </div>
    <div>
      <button (click)="getMovieDetails(moviename.value)" type="submit" class="btn btn-primary">Get Movie Details</button>
    </div>
  </form>
<!--SO here below it kept giving me an undefined error so I kept the question marks in -->
  <div class="row bg-light mt-4 p-4" *ngIf="movieData">
    <div class="col-sm-4">
      <div>
        <h3>{{movieData?.Error}}</h3>
      </div>
      <div *ngIf="movieData.Poster.lenght>3">
        <img src="{{movieData?.Poster}}" alt="movie poster name">
      </div>
    </div>
    <div class="col-sm-8">
      <div *ngIf="movieData.Title">
        <h1>{{movieData?.Title}}</h1>
        <h2>Director:{{movieData?.Director}}</h2>
      </div>
    </div>
  </div>
</div>